<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Moedas</h1>
    <p class="lead">Confira aqui as principais moedas.</p>
  </div>
</div>

<h1>{{ listPrice.ticker | json }}</h1>

<ul class="list-group">
  <li class="list-group-item">{{ listPrice.ticker.high }}</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
